 {% extends 'administration/base.html' %}
{% block content %}
{% load static %}




<div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">Order Form</h5>

     <center>          

 <form method="POST" class="col-md-10 mx-auto" id="signupForm">

    {% csrf_token %}
     {% for non_field_error in form.non_field.errors %}
    <help class="is-danger">{{ non_field_error}}</help>
     {% endfor %} 
<div class="row" >
<div class="col-md-6">
   <div class="position-relative form-group">
  <label for="Names" class="">Names:</label>
    <div class="input-group">
        <div class="input-group-prepend input-group-lg"><span class="input-group-text"><i class="fas fa-user"></i></span></div>
     {{form.Names}}</div>
    
        </div>
</div>
      
        
 <div class="col-md-6">  
 <div class="position-relative form-group">
  <label for="Names" class="">Last Names:</label>
    <div class="input-group">
        <div class="input-group-prepend input-group-lg"><span class="input-group-text"><i class="fas fa-user"></i></span></div>
     {{form.Last_names}}</div>
    
        </div>  
  
</div>

</div>
<div class="row" >
<div class="col-md-12">
   <div class="position-relative form-group">
  <label for="Names" class="">Phone:</label>
    <div class="input-group">
        <div class="input-group-prepend input-group-lg"><span class="input-group-text"><i class="fas fa-phone-square"></i></span></div>
      {{form.Phone}}</div>
    
        </div>
</div>

</div>
  <div class="row" >
<div class="col-md-6">
   <div class="position-relative form-group">
  <label for="Names" class="">Address:</label>
    <div class="input-group">
        <div class="input-group-prepend input-group-lg"><span class="input-group-text"><i class="fas fa-address-card"></i></span></div>
     {{form.Address}}</div>
    
        </div>
</div>
      
        
 <div class="col-md-6">  
 <div class="position-relative form-group">
  <label for="Names" class="">Reference:</label>
    <div class="input-group">
        <div class="input-group-prepend input-group-lg"><span class="input-group-text"><i class="fas fa-clone"></i></span></div>
      {{form.Reference}}</div>
    
        </div>  
  
</div>

</div>
  
  <div class="row" >
<div class="col-md-6">
   <div class="position-relative form-group">
  <label for="Names" class="">Description:</label>
    <div class="input-group">
        <div class="input-group-prepend input-group-lg"><span class="input-group-text"><i class="fas fa-tags"></i></span></div>
     {{form.Description}}</div>
    
        </div>
</div>
      
        
 <div class="col-md-6">  
 <div class="position-relative form-group">
  <label for="Names" class="">Note:</label>
    <div class="input-group">
        <div class="input-group-prepend input-group-lg"><span class="input-group-text"><i class="fas fa-sticky-note"></i></span></div>
      {{form.Note}}</div>
    
        </div>  
  
</div>

</div>
 <br>
  <div class="row" >
    <div class="col-md-3"></div>
<div class="col-md-6">
      
        <button type="submit"class="mb-2 mr-2 btn btn-outline-primary btn-block"><i class="fa fa-check"></i>  -{{button}}
                                            </button>
      
     
    </div>
  </div>
</form>

  
</div>

</center> 
</div>



<!--Form Validation-->

<script src="{% static 'administration/assets/js/vendors/form-components/form-validation.js' %}"></script>

<script type="text/javascript">
  $( document ).ready(function() {

    $( "#signupForm" ).validate( {
        rules: {
            Names: "required",
            Last_names: "required",
            Phone: {
                required: true,
                minlength: 8
            },
            
            Address: {
                required: true,
                minlength: 5,
            },
            Description: {
                required: true,
                
            },
            Reference: {
                required: false,
                
            },
            Note: {
                required: false,
                
            },
        },
        messages: {
            Names: "Please enter the client names",
            Last_names: "Please enter the client last names",
            Phone: {
                required: "Please enter a client phone",
                minlength: "Your client phone must consist of at least 8 characters"
            },
            Address: {
                required: "Please provide a Address",
               
            },
            Description: {
                required: "Please describe a little the order",
               
            },
            
        },
        errorElement: "em",
        errorPlacement: function ( error, element ) {
            // Add the `invalid-feedback` class to the error element
            error.addClass( "invalid-feedback" );
            if ( element.prop( "type" ) === "checkbox" ) {
                error.insertAfter( element.next( "label" ) );
            } else {
                error.insertAfter( element );
            }
        },
        highlight: function ( element, errorClass, validClass ) {
            $( element ).addClass( "is-invalid" ).removeClass( "is-valid" );
        },
        unhighlight: function (element, errorClass, validClass) {
            $( element ).addClass( "is-valid" ).removeClass( "is-invalid" );
        }
    } );

});


</script>
{% endblock %}