 {% extends 'administration/base.html' %}
{% block content %}
{% load static %}



        <!-- Begin Page Content -->
        <div class="container-fluid">




  


          <!-- Page Heading -->
          
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">List of orders</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Names</th>
                      <th>Last_names</th>
                      <th>Phone</th>
                      <th>Address</th>
                      <th>Reference</th>
                      <th>State</th>
                      <th>Description</th>
                      <th>Note</th>
                      <th>Create</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                       <th>Names</th>
                      <th>Last_names</th>
                      <th>Phone</th>
                      <th>Address</th>
                      <th>Reference</th>
                      <th>State</th>
                      <th>Description</th>
                      <th>Note</th>
                      <th>Create</th>
                      <th>Actions</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for order in orders %}

                    <tr>
                      <td>{{order.Names}}</td>
                      <td>{{order.Last_names}}</td>
                      <td>{{order.Phone}}</td>
                      <td>{{order.Address}}</td>
                      <td>{{order.Reference}}</td>
                      <td>{{order.State}}</td>
                       <td>{{order.Description}}</td>
                      <td>{{order.Note}}</td>
                      <td>{{order.Create}}</td>
                      <td>
                        <center>
                        <a class="btn btn-secondary" href="{% url 'addservice' pk=order.pk %}">Add Services</a>
                        </center>
                        <center>
                        <a class="btn btn-warning" data-toggle="modal" data-target="#editmodal{{ forloop.counter }}"><font color="white">Edit</font></a>
                        </center>
                        {% if order.State == "active" %}
                        <center>
                        <a  class="btn btn-danger" data-toggle="modal" data-target="#deletemodal{{ forloop.counter }}"><font color="white">Delete</font></a>
                      </center>
                        {% else %}
                        <center>

                        <a  class="btn btn-success" data-toggle="modal" data-target="#activemodal{{ forloop.counter }}"><font color="white">Active</font></a>
                           </center>
                      {% endif %}
                      	
                      </td>
                    </tr>

          <!-- edit Modal -->
            <div class="modal fade" id="editmodal{{ forloop.counter }}" role="dialog">
              <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Order No.{{order.pk}}</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
                  <div class="modal-body">
                    <p>Are you sure to edit order <font color="Red"> No.{{order.pk}}</font> for the client <font color="Red"> {{order.Names}} {{order.Last_names}}?</font></p>
                  </div>
                  <div class="modal-footer">

                  <a href="{% url 'editorder' pk=order.pk %}" class="btn btn-primary">Edit</a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
                
              </div>
            </div>

<!-- delete Modal -->
            <div class="modal fade" id="deletemodal{{ forloop.counter }}" role="dialog">
              <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete Order No.{{order.pk}}</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
                  <div class="modal-body">
                    <p>Are you sure to Delete order <font color="Red"> No.{{order.pk}}</font> for the client <font color="Red"> {{order.Names}} {{order.Last_names}}?</font></p>
                  </div>
                  <div class="modal-footer">

                  <a href="{% url 'deleteorder' pk=order.pk %}" class="btn btn-primary">Delete</a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
                
              </div>
            </div>




<!-- active Modal -->
            <div class="modal fade" id="activemodal{{ forloop.counter }}" role="dialog">
              <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Active Order No.{{order.pk}}</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
                  <div class="modal-body">
                    <p>Are you sure to active order <font color="Red"> No.{{order.pk}}</font> for the client <font color="Green"> {{order.Names}} {{order.Last_names}}?</font></p>
                  </div>
                  <div class="modal-footer">

                  <a href="{% url 'activeorder' pk=order.pk %}" class="btn btn-primary">Active</a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
                
              </div>
            </div>




                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

{% endblock %}