 {% extends 'administration/base.html' %}
{% block content %}
{% load static %}

  <!-- Custom styles for this page -->
  <link href="{% static 'administration/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'administration/notify/dist/css/Lobibox.min.css' %}"/>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="jumbotron">
         <center><h1 >Services</h1>
          <p class="mb-4">List of services, you can add more services</p></center> 




</div>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">List of Services</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Order</th>
                      <th>Services</th>
                      <th>Description</th>
                      <th>Note</th>
                      <th>Create</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Order</th>
                      <th>Services</th>
                      <th>Description</th>
                      <th>Note</th>
                      <th>Create</th>
                      <th>Actions</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for Service in Services %}

                    <tr>
                      <td>{{Service.Order}}</td>
                      <td>
                        {{ Service.Type }}
                      
                      </td>
                      <td>{{Service.Description}}</td>
                      <td>{{Service.Note}}</td>
                      <td>{{Service.Create}}</td>
                      
                       
                      <td>
                        {% if Service.Description|length > 2 %}
                        <center>
                          <a type="button" class="btn btn-warning" href="{% url 'editservice' pk=Service.pk %}">Edit</a>
                          <button type="button" class="btn btn-danger">Delete</button>
                        </center>
                      {% else %}
                      <center>
                        <a class="btn btn-secondary" href="{% url 'addservice' pk=Service.pk %}">Add Services</a>
                      </center>
                      {% endif %}


                      </td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

<!-- Bootstrap core JavaScript-->
  <script src="{% static 'administration/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'administration/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  
<!-- Page level plugins -->
  <script src="{% static 'administration/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'administration/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'administration/js/demo/datatables-demo.js' %}"></script>
  
{% endblock %}