
<!--Tree View -->
<script src="{% static 'administration/assets/js/vendors/treeview.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/treeview.js' %}"></script>


<!--TABLES -->
<!--DataTables-->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables.net-bs4@1.10.19/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js" crossorigin="anonymous"></script>

<!--Bootstrap Tables-->
<script src="{% static 'administration/assets/js/vendors/tables.js' %}"></script>

<!--Tables Init-->
<script src="{% static 'administration/assets/js/scripts-init/tables.js' %}"></script>


<!--SweetAlert2-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="{% static 'administration/assets/js/scripts-init/sweet-alerts.js' %}"></script>


<!--Rating -->
<script src="{% static 'administration/assets/js/vendors/rating.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/rating.js' %}"></script>

<!--Ladda Loading Buttons -->
<script src="{% static 'administration/assets/js/vendors/ladda-loading.js' %}"></script>
<script src="{% static 'administration/assets/js/vendors/spin.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/ladda-loading.js' %}"></script>


<!--Cropper -->
<script src="{% static 'administration/assets/js/vendors/cropper.js' %}"></script>
<script src="{% static 'administration/assets/js/vendors/jquery-cropper.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/image-crop.js' %}"></script>

<!--Maps -->
<script src="{% static 'administration/assets/js/vendors/gmaps.js' %}"></script>
<script src="{% static 'administration/assets/js/vendors/jvectormap.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/maps-word-map.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/maps.js' %}"></script>


<!--CountUp -->
<script src="{% static 'administration/assets/js/vendors/count-up.js' %}"></script>
<script src="{% static 'administration/assets/js/vendors/form-components/textarea-autosize.js' %}"></script>


<!--Calendar -->
<script src="{% static 'administration/assets/js/vendors/calendar.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/calendar.js' %}"></script>

<!--Slick Carousel -->
<script src="{% static 'administration/assets/js/vendors/carousel-slider.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/carousel-slider.js' %}"></script>



<!--FORMS-->

<!--Clipboard-->
<script src="{% static 'administration/assets/js/vendors/form-components/clipboard.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/form-components/clipboard.js' %}"></script>

<!--Datepickers-->
<script src="{% static 'administration/assets/js/vendors/form-components/datepicker.js' %}"></script>
<script src="{% static 'administration/assets/js/vendors/form-components/daterangepicker.js' %}"></script>
<script src="{% static 'administration/assets/js/vendors/form-components/moment.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/form-components/datepicker.js' %}"></script>

<!--Multiselect-->
<script src="{% static 'administration/assets/js/vendors/form-components/bootstrap-multiselect.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="{% static 'administration/assets/js/scripts-init/form-components/input-select.js' %}"></script>

<!--Form Validation--> 
<script src="{% static 'administration/assets/js/vendors/form-components/form-validation.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/form-components/form-validation.js' %}"></script>

<!--Form Wizard-->
<script src="{% static 'administration/assets/js/vendors/form-components/form-wizard.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/form-components/form-wizard.js' %}"></script>

<!--Input Mask-->
<script src="{% static 'administration/assets/js/vendors/form-components/input-mask.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/form-components/input-mask.js' %}"></script>

<!--RangeSlider-->
<script src="{% static 'administration/assets/js/vendors/form-components/wnumb.js' %}"></script>
<script src="{% static 'administration/assets/js/vendors/form-components/range-slider.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/form-components/range-slider.js' %}"></script>

<!--Textarea Autosize-->
<script src="{% static 'administration/assets/js/vendors/form-components/textarea-autosize.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/form-components/textarea-autosize.js' %}"></script>

<!--Toggle Switch -->
<script src="{% static 'administration/assets/js/vendors/form-components/toggle-switch.js' %}"></script>




<!--CHARTS-->

<!--Apex Charts-->
<script src="{% static 'administration/assets/js/vendors/charts/apex-charts.js' %}"></script>

<script src="{% static 'administration/assets/js/scripts-init/charts/apex-charts.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/charts/apex-series.js' %}"></script>

<!--Sparklines-->
<script src="{% static 'administration/assets/js/vendors/charts/charts-sparklines.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/charts/charts-sparklines.js' %}"></script>

<!--Chart.js-->
<script src="{% static 'administration/assets/js/Chart.min.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/charts/chartsjs-utils.js' %}"></script>
<script src="{% static 'administration/assets/js/scripts-init/charts/chartjs.js' %}"></script>
