{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Katarina - Enterprises">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Katarina - Enterprises</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'home/img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'home/style.css' %}">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="wrapper">
            <div class="cssload-loader"></div>
        </div>
    </div>
    <!-- ***** Top Search Area Start ***** -->
    <div class="top-search-area">
        <!-- Search Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Close Button -->
                        <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <!-- Form -->
                        <form action="#" >
                            <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Top Search Area End ***** -->


                    

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="uzaNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index.html"><img src="{% static 'home/img/core-img/logo.png' %}" alt="" height="200px" width="300px"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav" >
                                <li class="current-item"><a href="#">Home</a></li>
                                <li><a href="#">About</a>
                                    
                                </li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">Carrers</a>
                                    <ul class="dropdown">
                                        <li><a href="#">- Our Team</a></li>
                                        <li><a href="#">- Trajectory</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Hauling</a></li>
                                <li><a href="#">Tree Service</a></li>

                            </ul>

                            <!-- Get A Quote -->
                            <div class="get-a-quote ml-4 mr-3">
                                <a href="#" class="btn uza-btn">Get an appointment</a>
                            </div>


                        {% if user.is_authenticated %}
                        <div id="header">
            <ul class="nav">
                <li><a href="">Inicio</a>
                <ul>
                        <li>

                            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="{% static 'home/img/bg-img/av1.png' %}">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="/administration">Administration</a>
                    </div>
                    <div class="desc">Nombre</div>
                    <div class="desc">Apellidos</div>
                    <div class="desc">Trabajos Pendientes</div>
                </div>
                
            </div>



                        </li>
                        
                    </ul>
                </li>
            </ul>
        </div>




                            {% else %}
                                 <!-- Login / Register -->
                            <div class="login-register-btn mx-3">
                                <a href="{% url 'login' %}">Login</a>
                            </div>
                            {% endif %}
                           

                            <!-- Search Icon -->
                            <div class="search-icon" data-toggle="modal" data-target="#searchModal">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


                {% block content %}
                    {% endblock %}

    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area section-padding-80-0">
        <div class="container">
            <div class="row justify-content-between">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Contact Us</h4>

                        <!-- Footer Content -->
                        <div class="footer-content mb-15">
                            <h3>(+00) 0000 0000</h3>
                            <p>936B 7TH STREET, #174, NOVATO, CA 94945 <br> katarinaty5@gmail.com</p>
                        </div>
                        <p class="mb-0">Mon - Fri: 0:00 - 0:00 <br>
                            Closed on Weekends</p>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Quick Link</h4>

                        <!-- Nav -->
                        <nav>
                            <ul class="our-link">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">Log In</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Resources</h4>

                        <!-- Nav -->
                        <nav>
                            <ul class="our-link">
                                <li><a href="#">Customer Support</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Carrer</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">About Us</h4>
                        <p>"Katarina" is Spanish for ladybug.  
And like ladybugs, Katarina Enterprises aims to beautify and nurture your outdoor living spaces.</p>

                        <!-- Copywrite Text -->
                        <div class="copywrite-text mb-30">
                            <p>&copy; Copyright 2019 <a href="#">Katarina Enterprises</a>.</p>
                        </div>

                        <!-- Social Info -->
                        <div class="footer-social-info">
                            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            
                            <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>

            </div>

 <div class="row" style="margin-bottom: 30px;">               
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Katarina Enterprises
            </div>

        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- ******* All JS Files ******* -->
    <!-- jQuery js -->
    <script src="{% static 'home/js/jquery.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <!-- All js -->
    <script src="{% static 'home/js/uza.bundle.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'home/js/default-assets/active.js' %}"></script>

</body>

</html>