{% extends 'home/base.html' %}
{% block content %}
{% load static %}



    <!-- ***** Welcome Area Start ***** -->
    <section class="welcome-area">
        <div class="welcome-slides owl-carousel">

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="{% static 'home/img/core-img/curve-1.png' %}" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms">Find out about <span>services </span></h2>
                                    <h5 data-animation="fadeInUp" data-delay="400ms">Find out about the Katarina Total Yardscape story, priorities and services</h5>
                                    <a href="#" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">View Services</a>
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-thumbnail">
                                    <img src="{% static 'home/img/bg-img/1.png' %}" alt="" data-animation="slideInRight" data-delay="400ms">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="{% static 'home/img/core-img/curve-1.png' %}" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                    <h2 data-animation="fadeInUp" data-delay="100ms">We want <br>to hear  <span>you!</span></h2>
                                    <h5 data-animation="fadeInUp" data-delay="400ms">Ready to take the next step? Tell us how we can serve you. We look forward to hearing from you!</h5>
                                    <a href="#" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Start Exploring</a>
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-thumbnail">
                                    <img src="{% static 'home/img/bg-img/img4.jpg' %}" alt="" data-animation="slideInRight" data-delay="400ms" class="img-slider2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="{% static 'home/img/core-img/curve-1.png' %}" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms">We<br>can <span> do it!</span></h2>
                                    <h5 data-animation="fadeInUp" data-delay="400ms">We love to create special things</h5>
                                    <a href="#" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">View More</a>
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-thumbnail">
                                    <img src="{% static 'home/img/bg-img/img3.jpg' %}" alt="" data-animation="slideInRight" data-delay="400ms" class="img-slider3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** About Us Area Start ***** -->
    <section class="uza-about-us-area">
        <div class="container">
            <div class="row align-items-center">

                <!-- About Thumbnail -->
                <div class="col-12 col-md-6">
                    <div class="about-us-thumbnail mb-80">
                        <img src="{% static 'home/img/bg-img/s2.jpg' %}" alt="">
                        <!-- Video Area -->
                        
                    </div>
                </div>

                <!-- About Us Content -->
                <div class="col-12 col-md-6">
                    <div class="about-us-content mb-80">
                        <h2>TEXT &amp; TEXT</h2>
                        <p>TEXT TEXT MORE TEXT.TEXT TEXT MORE TEXTTEXT TEXT MORE TEXTTEXT TEXT MORE TEXTTEXT TEXT MORE TEXTTEXT TEXT MORE TEXTTEXT TEXT MORE TEXTTEXT TEXT MORE TEXTTEXT TEXT MORE TEXT</p>
                        <a href="#" class="btn uza-btn btn-2 mt-4">Start Exploring</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- About Background Pattern -->
        <div class="about-bg-pattern">
            <img src="{% static 'home/img/core-img/curve-2.png' %}" alt="">
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->

    <!-- ***** Services Area Start ***** -->
    <section class="uza-services-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Service Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <i class="icon_briefcase"></i>
                        </div>
                        <h5>Business Strategy</h5>
                        <p>We always look for the best way to do it.</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <i class="icon_mobile"></i>
                        </div>
                        <a href="#">
                        <h5>Contact Us</h5>
                    </a>
                        <p>you can request a service from your cell phone, do it <a href="#">here</a>.</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <i class="icon_heart_alt"></i>
                        </div>
                        <h5>We love hear you!</h5>
                        <p>Contact we us and tell us about your projects!</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ***** Services Area End ***** -->

    <!-- ***** Portfolio Area Start ***** -->
    <section class="uza-portfolio-area section-padding-80">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Services</h2>
                        <p>We have the best team, and we do it professional.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <!-- Portfolio Slides -->
                <div class="portfolio-sildes owl-carousel">

                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="{% static 'home/img/bg-img/3.jpg' %}" alt="" class="imagenps">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>LANDSCAPE DESIGN AND INSTALLATION</h4>
                            <p>customize</p>
                        </div>
                        <!-- View More -->
                        <div class="view-more-btn">
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>

                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="{% static 'home/img/bg-img/4.jpg' %}" alt="" class="imagenps">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>PLANT CONSULTATION</h4>
                            <p>customize</p>
                        </div>
                        <!-- View More -->
                        <div class="view-more-btn">
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>

                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="{% static 'home/img/bg-img/5.jpg' %}" alt="" class="imagenps">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>DECORATIVE OUTDOOR WATER FEATURES</h4>
                            <p>customize</p>
                        </div>
                        <!-- View More -->
                        <div class="view-more-btn">
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>

                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="{% static 'home/img/bg-img/6.png' %}" alt="" class="imagenps">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>RETAINING WALLS</h4>
                            <p>customize</p>
                        </div>
                        <!-- View More -->
                        <div class="view-more-btn">
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>

                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="{% static 'home/img/bg-img/s7.jpg' %}" alt="" class="imagenps">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>TREES</h4>
                            <p>customize</p>
                        </div>
                        <!-- View More -->
                        <div class="view-more-btn">
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>

                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="{% static 'home/img/bg-img/s8.jpg' %}" alt="" class="imagenps">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>FULL-SERVICE GARDEN MAINTENANCE</h4>
                            <p>customize</p>
                        </div>
                        <!-- View More -->
                        <div class="view-more-btn">
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Client Feedback Area Start -->
        <div class="clients-feedback-area mt-80 section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Testimonial Slides -->
                        <div class="testimonial-slides owl-carousel">

                            <!-- Single Testimonial Slide -->
                            <div class="single-testimonial-slide d-flex align-items-center">
                                <!-- Testimonial Thumbnail -->
                                <div class="testimonial-thumbnail">
                                    <img src="{% static 'home/img/bg-img/av1.png' %}" alt="">
                                </div>
                                <!-- Testimonial Content -->
                                <div class="testimonial-content">
                                    <h4>“WE DO PROFESIONAL.text text text text text text text text text text text text text text text text ”</h4>
                                    <!-- Ratings -->
                                    <div class="ratings">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                    </div>
                                    <!-- Author Info -->
                                    <div class="author-info">
                                        <h5>Employee <span>- Katarina Enterprises</span></h5>
                                    </div>
                                    <!-- Quote Icon -->
                                    <div class="quote-icon"><img src="{% static 'home/img/core-img/quote.png' %}" alt=""></div>
                                </div>
                            </div>

                            <!-- Single Testimonial Slide -->
                            <div class="single-testimonial-slide d-flex align-items-center">
                                <!-- Testimonial Thumbnail -->
                                <div class="testimonial-thumbnail">
                                    <img src="{% static 'home/img/bg-img/av2.png' %}" alt="">
                                </div>
                                <!-- Testimonial Content -->
                                <div class="testimonial-content">
                                    <h4>“WE DO PROFESIONAL.text text text text text text text text text text text text text text text text”</h4>
                                    <!-- Ratings -->
                                    <div class="ratings">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                    </div>
                                    <!-- Author Info -->
                                    <div class="author-info">
                                       <h5>Employee <span>- Katarina Enterprises</span></h5>
                                    </div>
                                    <!-- Quote Icon -->
                                    <div class="quote-icon"><img src="{% static 'home/img/core-img/quote.png' %}" alt=""></div>
                                </div>
                            </div>

                            <!-- Single Testimonial Slide -->
                            <div class="single-testimonial-slide d-flex align-items-center">
                                <!-- Testimonial Thumbnail -->
                                <div class="testimonial-thumbnail">
                                    <img src="{% static 'home/img/bg-img/av1.png' %}" alt="">
                                </div>
                                <!-- Testimonial Content -->
                                <div class="testimonial-content">
                                      <h4>“WE DO PROFESIONAL.text text text text text text text text text text text text text text text text”</h4>
                                    <!-- Ratings -->
                                    <div class="ratings">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                    </div>
                                    <!-- Author Info -->
                                    <div class="author-info">
                                        <h5>Employee <span>- Katarina Enterprises</span></h5>
                                    </div>
                                    <!-- Quote Icon -->
                                    <div class="quote-icon"><img src="{% static 'home/img/core-img/quote.png' %}" alt=""></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Client Feedback Area End -->

        <!-- Border -->
        <div class="container">
            <div class="border-line"></div>
        </div>

        <!-- Background Curve -->
        <div class="portfolio-bg-curve">
            <img src="{% static 'home/img/core-img/curve-3.png' %}" alt="">
        </div>
    </section>
    <!-- ***** Portfolio Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <section class="uza-blog-area">
        <!-- Background Curve -->
        <div class="blog-bg-curve">
            <img src="{% static 'home/img/core-img/curve-4.png' %}" alt="">
        </div>

        <!-- CTA Area Start -->
        <div class="uza-cta-area section-padding-0-80">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-8">
                        <div class="cta-content mb-80">
                            <h2>Interested in working with us?</h2>
                            <h6>Hit the button below or give us a call!</h6>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="cta-content mb-80">
                            <div class="call-now-btn">
                                <a href="#"><span>Call us now:</span> (+1) 0000 0000</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CTA Area End -->

        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Common services</h2>
                        <p>Special service for you are waiting!</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Blog Post -->
                <div class="col-12 col-lg-4">
                    <div class="single-blog-post bg-img mb-80" style="background-image: url({% static 'home/img/bg-img/desk.png' %});">
                        <!-- Post Content -->
                        <div class="post-content">
                            <span class="post-date"><span>15</span> Jul, 2019</span>
                            <a href="#" class="post-title">CARPENTRY: FENCES/DECKS/ETC.</a>
                            <p>Text text text text text text text text text text Text text text text text text text text text text </p>
                            <a href="#" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-lg-4">
                    <div class="single-blog-post bg-img mb-80" style="background-image: url({% static 'home/img/bg-img/clean.jpg' %});">
                        <!-- Post Content -->
                        <div class="post-content">
                            <span class="post-date"><span>18</span> Jul, 2019</span>
                            <a href="#" class="post-title">CLEAN-UPS, FIRE-HAZARD CONTROL AND HAULING</a>
                            <p>Text text text text text text text text text text </p>
                            <a href="#" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-lg-4">
                    <div class="single-blog-post bg-img mb-80" style="background-image: url({% static 'home/img/bg-img/garden.jpg' %});">
                        <!-- Post Content -->
                        <div class="post-content">
                            <span class="post-date"><span>22</span> July, 2019</span>
                            <a href="#" class="post-title">FULL-SERVICE GARDEN MAINTENANCE</a>
                            <p>Text text text text text text text text text text </p>
                            <a href="#" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ***** Blog Area End ***** -->

    <!-- ***** Newsletter Area Start ***** -->
    <section class="uza-newsletter-area">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <!-- Newsletter Content -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="nl-content mb-80">
                        <h2>Subscribe to our Newsletter</h2>
                        <p>Subscribe our newsletter gor get notification about new updates, etc...</p>
                    </div>
                </div>
                <!-- Newsletter Form -->
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="nl-form mb-80">
                        <form action="#">
                            <input type="email" name="nl-email" value="" placeholder="Your Email">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Border Bottom -->
            <div class="border-line"></div>
        </div>
    </section>
    <!-- ***** Newsletter Area End ***** -->


{% endblock %}